# Keep crewai at version 0.130.0
crewai==0.130.0
crewai-tools==0.47.1
fastapi
uvicorn
python-multipart
google-generativeai
langchain-google-genai
pypdf
# google-cloud-aiplatform
# google-cloud-storage
